<h1>Creador de color</h1>

<input type="text" value="200" data-max="255" class="dial" id="red">
<input type="text" value="200" data-max="255" class="dial" id="green">
<input type="text" value="200" data-max="255" class="dial" id="blue">

<p> color: <span id="texto"></span></p>

<div id="color"></div>

